body {
  margin: 0;
  text-align: center;
  color: #ddd;
  background-color: #222;
  font-family: sans-serif;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  color: #ffff47;
  font-size: 4rem;
  letter-spacing: 2px;
}

button {
  border: 1px solid #ccc;
  background-color: transparent;
  border-radius: 20px;
  margin: 0 10px;
  color: #ccc;
  padding: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

button:focus {
  border: 2px solid #ffff47;
  color: #ffff47;
  outline: none;
}

button:hover {
  transform: scale(0.9);
}

.content {
  text-align: left;
}
